<included>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<conversionRule conversionWord="tid" converterClass="org.afc.logging.ThreadIdConverter" />

	<appender name="MAIN-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS Z}} [${LOG_LEVEL_PATTERN:-%5p}][%8X{SDC}][%5.5tid][%-40.40logger{39}] : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>target/log/${sys.service}.${sys.cluster}.${sys.instance}.%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<maxFileSize>500MB</maxFileSize>
			<maxHistory>14</maxHistory>
		</rollingPolicy>
	</appender>
	
	<appender name="MAIN" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${CONSOLE_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS Z}}){faint} [%clr(${LOG_LEVEL_PATTERN:-%5p})][%clr(%8X{SDC}){magenta}]%clr([%5.5tid]){faint}%clr([%-40.40logger{39}]){cyan} %clr(:){faint} %m%n%xEx{full,EXPT}%xEx{0,EXPT_MSG}}</pattern>
		</encoder>
	</appender>
</included>